/nbproject/private/
/Booxtore-ejb/nbproject/private/
/Booxtore-war/nbproject/private/
/Booxtore-lib/build/
/Booxtore-lib/nbproject/private/
/dist/
/build/
/Booxtore-lib/dist/
/Booxtore-war/build/
/Booxtore-war/dist/
/Booxtore-ejb/build/
/Booxtore-ejb/dist/
